.container-items{
    width: 100%;
}
.first, .second, .third {
    width: 112px;
    background-color: transparent;
    height: 65px;
    position: absolute;
    border-left: 8px solid;
    border-right: 8px solid;
    border-color: var(--bs-body-bg);
}
.items {
position: absolute;
}
.second {
transform: rotate(60deg);
}
.third {
transform: rotate(-60deg);
}
.page-header {
    padding: 0;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: 50%;
}