/*######################################*/
body{
    background-color: var(--bs-body-bg);
}     
html {
    scroll-behavior: smooth;
    transition: all 0.5s !important;
}   
*{
    font-size: .95rem!important;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
* :not(pre[class*="language-"] *){
    color: var(--bs-text-color);
}
a{
    text-decoration-line: none !important;
}
hr {
    border-top: none;
    height: 1px;
}
hr.horizontal {
    background-color: transparent;
}
hr.horizontal.light{
    height: 2px !important;
    opacity: unset !important;
    background-image: linear-gradient(90deg, transparent, #ffffff66, transparent);
}
hr.horizontal.dark {
    background-image: linear-gradient(90deg, transparent, #00000066, transparent);
}
.tooltip *{
    color: white !important;
} 
.progress-scroll-bage-x-line{
    position: fixed;
    width: 100vw;
    height: 3px;
    background: transparent;
    z-index: 9999;
    top:0;
    right:0;
}
.progress-scroll-bage-x{
    transition: all .4s;
    position: absolute;
    left:0;
    height: 3px;
    z-index: 10000;
    box-shadow: 0 3px 2px #f443354d, 0 3px 1px -2px #f443354d, 0 1px 5px 0 #f443354d !important;
}
.footer-maincategories .btn:hover i{
    text-shadow: 2px 2px 5px #e81f62;
}
.footer .inf-links a:hover{
    box-shadow: 2px 2px 6px #b1c3ff,-2px -2px 6px #b1c3ff,-2px 2px 6px #b1c3ff,2px -2px 6px #b1c3ff;
    transition: all .3s;
}
.site-media a i{
    color:#344767 !important;
}
.site-media a:hover i{
    color:#969696 !important;
}
.sidebar-maincategories:hover , .sidebar-category .sidebar-lessons:hover{
    transition: all .5s;
    background-color: #5c5c5c57 !important;
}
.sidebar-category li a:hover i{
    transition: all .7s;
    position: relative;
    animation-name: sidebar;
    animation-duration: 1s;
}
.nav-category li a:hover i{
    transition: all 0.5s;
    position: relative;
    animation-name: nav;
    animation-duration: .6s;
}
@keyframes nav {
    0%   {top:0px;  font-size: 1.2rem;}
    50%  {top:10px; font-size: .8rem;}
    100%  {transform: rotateZ(360deg); top:0px; font-size: 1.3rem;}
}
@keyframes sidebar {
    0%   {left:0px; transform: rotateZ(0deg)}
    25%  {left:-4px; transform: rotateZ(35deg)}
    40%  {left:4px; transform: rotateZ(-35deg)}
    60%  {left:-4px; transform: rotateZ(35deg);}
    75%  {left:4px; transform: rotateZ(-35deg);}
    100% {left:0px; transform: rotateZ(0deg)}
}
.breadcrumb-item a,.breadcrumb-item a i{
    transition:all .5s;
}
.breadcrumb-item a:hover, .breadcrumb-item a:hover i, .breadcrumb-item.active,.breadcrumb-item.active i{
    color: #e81f62;
}

.scroll-buttons-continer{
    right: 30px;
    bottom:20px;
    z-index: 1000;
    transition: all 0.5s !important;
}
.scroll-button{
    cursor: pointer;
    box-shadow: 0px 0px 20px var(--bs-scroll-shadow);
}
.navbar-logo img{
    width:40px;
}
.btn i ,.bg-gradient-danger i ,.bg-gradient-info i ,.bg-gradient-success i ,.bg-gradient-warning i
,.bg-gradient-primary i ,.bg-gradient-dark i{
    color: white !important;
    padding-left: 0.25rem!important;
    padding-right: 0.25rem!important;
    transition: all .4s;
}
.bg-gradient-light i{
    color: #2b2b2b  !important;
    transition: all .4s;
}
.off-navbar{
    top: -15vh !important;
    transition: all 0.5s !important;
}
.off-scroll-buttons{
    right: -15vw !important;
    position: relative;
    transition: all 0.5s !important;
}
.navbar{
    padding-top: .6rem !important;
    padding-bottom: .6rem !important;
}
.glossy{
    width:200%;
    height: 30px;
    position: absolute;
    filter: blur(7px);
    background-color: #ffffffa1;
    z-index: 2;
    transform: rotateZ(45deg);
    top:100%;
    left:-110%;
    animation-name: AGlossy;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}
@keyframes AGlossy {
    from {top:100%;left:-110%;}
    to {top:-110%;left:100%;}
}
.glossyBtn{
    position: relative;
    overflow:hidden;
}
.glossyBtn:hover::after{
    content: " ";
    width:200%;
    height: 10px;
    position: absolute;
    filter: blur(7px);
    background-color: #ffffffa1;
    z-index: 2;
    transform: rotateZ(45deg);
    top:100%;
    left:-110%;
    animation-name: AGlossyBtn;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes AGlossyBtn {
    from {top:100%;left:-110%;}
    to {top:-110%;left:100%;}
}
/*############## start slide on scrolling #################*/

*[data-sos]{
    opacity: 0;
    transition: all .3s;
}
.sos-top{
    animation: slideTop .6s ease-in-out both;
}
.sos-bottom{
    animation: slideBottom .6s ease-in-out both;
}
.sos-left{
    animation: slideLeft .6s ease-in-out both;
}
.sos-right{
    animation: slideRight .6s ease-in-out both;
}
.sos-zoom-in{
    animation: slideZoomIn .6s ease-in-out both;
}
.sos-zoom-out{
    animation: slideZoomOut .6s ease-in-out both;
}
.sos-blur{
    animation: slideBlur .6s ease-in-out both;
}
.sos-rotateZ{
    animation: slideRotateZ .6s ease-in-out both;
}
@keyframes slideRotateZ {
    from {
    transform: rotateZ(25deg);
    opacity: 0;
    }
    to {
    transform: rotateZ(0);
    opacity: 1;
    }
}
@keyframes slideTop {
    from {
    transform: translateY(-100px);
    opacity: 0;
    }
    to {
    transform: translateY(0);
    opacity: 1;
    }
}
@keyframes slideBottom {
    from {
    transform: translateY(100px);
    opacity: 0;
    }
    to {
    transform: translateY(0);
    opacity: 1;
    }
}
@keyframes slideLeft {
    from {
    transform: translateX(300px);
    opacity: 0;
    }
    to {
    transform: translateX(0);
    opacity: 1;
    }
}
@keyframes slideRight {
    from {
    transform: translateX(-300px);
    opacity: 0;
    }
    to {
    transform: translateX(0);
    opacity: 1;
    }
}

@keyframes slideZoomIn {
    from {
    transform: scale(.5);
    opacity: 0;
    filter: blur(0.5px);
    }
    to {
        transform: scale(1);
        opacity: 1;
        filter: blur(0px);
    }
}
@keyframes slideZoomOut {
    from {
    transform: scale(1.5);
    opacity: 0;
    filter: blur(0.5px);
    }
    to {
        transform: scale(1);
        opacity: 1;
        filter: blur(0px);
    }
}
@keyframes slideBlur {
    from {
        opacity: 0;
        filter: blur(1.5px);
    }
    to {
        opacity: 1;
        filter: blur(0);
    }
}
/*############## end slide on scrolling #################*/
/**###########  dark mode  ################ */
.dark *{
    --bs-text-color:#d7d7d7;
    --bs-card-bg:#141414 !important;
    --bs-dark-rgb:#fff !important;
    --bs-list-group-bg:#141414 !important;
    --bs-list-group-color:#fff !important;
    --bs-modal-bg:#141414 !important;
    --bs-accordion-bg:#1c1c1c  !important;
    --bs-scroll-shadow:#ffffff13 !important;
    --bs-sign-book-bg:#d7d7d7;
    --bs-offcanvas-bg:#141414 !important;
    --bs-code-box-bg:#1c1c1c !important;
    --bs-cust-text-color:#3f59e9c0  ;
}
.dark .card{
    box-shadow: 0 .2rem .4rem rgba(255,255,255,.1)!important;
}
.dark .card:hover{
    box-shadow:0 .5rem 1rem rgba(255,255,255,.175)!important  
}
.dark .navbar{
    color:#fff !important;
}
.dark{
    --bs-body-bg:#1c1c1c  !important;
}
.dark hr.horizontal.dark{
    height: 2px !important;
    background-image: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
}
.create-comment-editor label:hover{
    background-color: #e6e6e6  !important;
    color: black;
}
/**###########  dark mode  ################ */
/*########### onlone-__-offine ###########*/
.online, .offline {
    position: fixed;
    padding: .75rem;
    top: 20px;
    left: 20px;
    z-index: 1100;
    display: none;
}
.online i, .offline i{
    font-size: 2.5rem !important;
}
.online *, .offline *{
    z-index: 2 !important;
    position: relative;
}
.online .blur-cover, .offline .blur-cover{
    width: 100%;
    height: 100%;
    z-index: 1 !important;
    position: absolute;
    top: 0;
    left: 0;
    background: #ffffff59;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.9px);
    -webkit-backdrop-filter: blur(3.9px);
}
/*########### onlone-__-offine ###########*/
::-moz-selection { /* Code for Firefox */
    color: #00ff33;
    background: #525252;
}

::selection {
    color: #00ff33;
    background: #525252;
}
.continer-new-box{
    height: 100%;
    width: 50%;
    left: -2px;
    top: -2px;
}
.new-box{
    top: 15% !important;
    left: -43% !important;
    transform: rotate(-45deg);
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.15)!important;
    z-index:2;
}
@media screen and (max-width: 767px){
    .new-box{
        top: 15% !important;
        left: -35% !important;
    }
} 
.toast-body{
    color: var(--bs-card-bg);
    background-color: var(--bs-dark-rgb);
}
.dropdown-menu[data-bs-popper] {
    top: 200% !important;
    right: -50px !important;
}
.icon-lg {
    width: 64px;
    height: 64px;
}
.icon{
    fill: currentColor;
    stroke: none;
}
.avatar-xl {
    width: 74px !important;
    height: 74px !important;
}
.avatar {
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    border-radius: 50rem;
    height: 48px;
    width: 48px;
    transition: all .2s ease-in-out;
}
@media only screen and (max-width: 767px) {
    .scroll-buttons-continer{
        right: 15px;
        bottom:10px;
    }
    .block-idea-side-content{
        width:100% !important;
    }
    .link-block-idea-side-content{
        width:100% !important;
    }
    .question-all-content{
        width:100% !important;
    }
    .navbar-logo img{
        width:30px;
    }
    .fs-5 {
        font-size: 1.1rem !important;
    }
    .offcanvas {
        width: calc(100% - 2rem) !important;
    }
}